@import url(reset.css);
@import url('https://fonts.cdnfonts.com/css/creato-display');
@import url('https://fonts.cdnfonts.com/css/dream-orphans');
@import url('https://fonts.cdnfonts.com/css/oddval-text');
                

:root {
    --purple: #7E61BE;
    --darkpurple: #653893;
    --lightpurple: #EDEFFC;
    --green: #B9BF02;
    --black: #1E1E1E;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --box-shadow2:0 .5rem 1.5rem rgba(126,97,190,.5);
    --box-shadow3:0 .5rem 1.5rem rgba(0,0,0,.5);
    --content-font: 'Creato Display', sans-serif;
}

* {
    font-family: 'Creato Display', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    font-family: 'Creato Display', sans-serif;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

.heading {
    text-align: center;
    color: var(--darkpurple);
    font-family: 'Dream Orphans', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    padding-top: 1rem;
}

/* this is the CSS for the navigation bar */
header {
    font-family: var(--content-font);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f3f3f3;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .navbar a{
    font-size: 1.7rem;
    font-weight: 400;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--purple);
}

header .navbar a.active,
header .navbar a:hover{
    color: black;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--purple);
    border-radius: 50%;
    background: #EDEFFC;
}

header .icons i:hover,
header .icons a:hover{
    color: black;
    background: var(--green);
    transform: rotate(-36deg);
}

header .icons #menu-bar{
    display: none;
}

/* This is the CSS for the product card */
#parent {
    position: relative;
    height: 1800px;
}

.pattern img {
    display: flex;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1800px;
    width: 100%;
    background-image: linear-gradient(#EDEFFC, #7E61BE);
    z-index: -10;
} 

.container {
    display: flex;
    justify-content: space-between;
    /*background-image: linear-gradient(#EDEFFC, #7E61BE);*/
}

/* for the product image (left side) */
.image img {
    display: flex;
    position: relative;
    width: 700px;
    height: 514px;
    top: 140px;
    left: 50px;
    box-shadow: var(--box-shadow2);
    border-radius: 20px;
    object-fit: cover;
}

/* for the product details (right side) */
.accordion {
    position: relative;
    top: 140px;
    right: 40px;
    max-width: 510px;
    width: 100%;
    background-color: #696969;
    margin: 0 15px;
    padding: 30px;
    border-radius: 20px;
}

.accordion .details h2 {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: white;
}

.accordion .details span {
    display: flex;
    position: relative;
    top: 20px;
    margin-bottom: 50px;
    font-size: 1.7rem;
    line-height: 20px;
    color: var(--lightpurple);
}

.accordion .accordion-content, .accordion .accordion-content2 {
    margin: 10px 0;
    border-radius: 4px;
    background-color: var(--lightpurple);
    color: black;
    overflow: hidden;
}

.accordion-content.open {
    padding-bottom: 20px;
}

.accordion-content .header, .accordion-content2 .header2 {
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 500;
    cursor: pointer;
}

.accordion-content2 .header3 {
    display: flex;
    min-height: 50px;
    padding: 0 30px 0 30px;
    align-items: center;
    justify-content: space-between;
    background: #5C65AA;
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
}

.accordion-content.open .header {
    background-color: var(--purple);
    color: white;
}

.accordion-content .header .title {
    font-weight: 500;
}

.accordion-content .description {
    height: 0;
    font-size: 1.5rem;
    padding: 0 15px;
    line-height: 20px;
    transition: 0.5s;
}

.accordion-content .description b {
    font-weight: 600;
    color: var(--darkpurple);
}

.accordion-content.open .description {
    padding-top: 10px;
}

.accordion-content .header h3 {
    font-weight: 500;
}

.accordion-content .header2 {
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    font-size: 1.8rem;
    cursor: pointer;
}

/* for the Nutritional Information Accordion */
.accordion-content2.open .header3 {
    background: var(--green);
    color: black;
}

.accordion-content2 .description2 .info2 {
    height: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 1.5rem;
    padding: 0 15px;
    line-height: 20px;
    transition: 0.5s;
}

.accordion-content2.open .description2 {
    padding-top: 10px;
    padding-bottom: 210px;
    background: var(--purple);
}

.accordion-content2 .description2 .info2 .right {
    text-align: right;
}

/* This is the CSS for the dish's label and price */
.container .label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    top: 160px;
    left: 50px;
    font-size: 2rem;
    color: white;
}

.container .label .HF {
    background: #EE3034;
    padding: 8px 30px 8px 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.container .label .DF {
    background: #2FC1D6;
    padding: 8px 30px 8px 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.container .label .GF {
    background: #E0B417;
    padding: 8px 30px 8px 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.container .label .D {
    background: #218BCB;
    padding: 8px 30px 8px 30px;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.container .price {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    top: 160px;
    right: -50px;
    border-radius: 8px;
    padding: 8px 30px 8px 30px;
    background: #5C65AA;
    color: white;
    box-shadow: var(--box-shadow);
}

.add {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add img {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--darkpurple);
    width: auto;
    height: auto;
    bottom: 50px;
    right: -70px;
    padding: 15px 30px 15px 30px;
    border-radius: 50%;
    scale: 40%;
    box-shadow: var(--box-shadow3);
    z-index: 10;
}

.add img:hover {
    cursor: pointer;
    background: var(--green);
}

/* this is the CSS for footer section */
.footer {
    background: var(--green);
    color: var(--darkpurple);
    position: relative;
    height: 110px;
    padding: 20px;
    bottom: 0px;
}

.footer .upper {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.footer .upper .icons {
    width: 125px;
    scale: 60%;
    display: flex;
    justify-content: space-between;
}

.footer .upper .details {
    padding-top: 15px;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/* MEDIA QUERIES for responsive design */
@media (max-width:768px) {
    header .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .icons #menu-bar{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: white;
    }
}

/* FOR IPHONE 12 PRO */
@media (max-width: 420px) {
    header {
        padding: 1rem 2rem;
        width: 390px;
    }

    header .logo {
        scale: 70%;
        position: relative;
        left: -20px;
    }

    .nav {
        padding: 11px;
    }

    .cart {
        width: 305px;
        margin-left: 30px;
    }

    .cart.active {
        right: 20px;
    }

    #parent {
        height: 1750px;
        width: 390px;
    }

    .pattern img {
        display: flex;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 2000px;
        width: 390px;
    }

    section.container {
        display: flex;
        flex-direction: column;
        scale: 80%;
    }

    section .image img {
        position: relative;
        top: -85px;
        left: -155px;
        scale: 60%;
    }

    section.container div.container {
        scale: 80%;
        position: relative;
        top: -300px;
        left: -95px;
    }

    section.container div.container .label .HF, section.container div.container .label .GF,
    section.container div.container .label .LS, section.container div.container .label .D {
        margin-right: 8px;
    }

    section.container div.container .price {
        position: relative;
        right: -80px;
    } 

    section .righthand {
        position: relative;
        top: -300px;
        left: 10px;
        width: 420px;
    }

    .footer {
        height: 100px;
        padding: 1rem;
        position: relative;
        bottom: -250px;
    }

    .footer .details {
        position: relative;
        left: -30px;
        top: 3px;
        font-size: 1.2rem;
    }
}

/* FOR SURFACE PRO 7 */
@media (min-width: 1368px) {
    body {
        width: 1368px;
    }

    header {
        padding: 1rem 2rem;
        width: 1368px;
    }

    .add img {
        right: -50px;
        bottom: 80px;
    }
}