@import url(reset.css);
@import url('https://fonts.cdnfonts.com/css/creato-display');
@import url('https://fonts.cdnfonts.com/css/dream-orphans');
@import url('https://fonts.cdnfonts.com/css/oddval-text');
                

:root {
    --purple: #7E61BE;
    --darkpurple: #653893;
    --lightpurple: #EDEFFC;
    --green: #B9BF02;
    --black: #1E1E1E;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --box-shadow2:0 .5rem 1.5rem rgba(126,97,190,.5);
    --box-shadow3:0 .5rem 1.5rem rgba(0,0,0,.5);
    --content-font: 'Creato Display', sans-serif;
}

* {
    font-family: 'Creato Display', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    font-family: 'Creato Display', sans-serif;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    color: var(--darkpurple);
    font-family: 'Dream Orphans', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    padding-top: 1rem;
}

/* this is the CSS for the navigation bar */
header {
    font-family: var(--content-font);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f3f3f3;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .navbar a{
    font-size: 1.7rem;
    font-weight: 400;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--purple);
}

header .navbar a.active,
header .navbar a:hover{
    color: black;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--purple);
    border-radius: 50%;
    background: #EDEFFC;
}

header .icons i:hover,
header .icons a:hover{
    color: black;
    background: var(--green);
    transform: rotate(-36deg);
}

header .icons #menu-bar{
    display: none;
}

/* This is the CSS for the Parent section */

#parent {
    position: relative;
    height: 1000px;
}

.pattern img {
    display: flex;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1200px;
    width: 100%;
    background-image: linear-gradient(#EDEFFC, #7E61BE);
    z-index: -10;
} 

.menu {
    margin: 0 auto;
    height: 250px;
}

.heading h1 {
    font-family: 'Dream Orphans', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    line-height: 40px;
    color: var(--darkpurple);
    padding: 12rem;
}

.box {
    background: #5C65AA;
    width: 350px;
    height: 150px;
    padding: 10px;
    border-radius: 15px;
    position: fixed;
    left: 1100px;
}

.title {
    font-size: 2.5rem;
    background: var(--darkpurple);
    color: var(--lightpurple);
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
}

.textfield {
    font-size: 1.8rem;
    color: var(--lightpurple);
    padding: 10px 5px;
}

input#postcode {
    width: 145px;
    height: 30px;
    margin-top: 10px;
    padding-left: 8px;
    border-radius: 8px;
    font-size: 1.8rem;
}

.state {
    font-size: 1.8rem;
    color: lightgrey;
    padding: 10px 5px;
    width: 100px;
    height: 30px;
    display: flex;
    background: white;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    position: relative;
    top: 38px;
    right: 6px;
}

#search {
    width: 50px;
    height: 50px;
    background: var(--green);
    color: var(--darkpurple);
    border-radius: 50%;
    position: relative;
    bottom: -25px;
    right: 8px;
    cursor: pointer;
}

#search i {
    scale: 200%;
}

.container {
    padding: 0 120px;
}

.container p {
    font-size: 2rem;
    margin-bottom: 20px;
}

.product-card {
    background: rgba(237,239,252,0.7);
    backdrop-filter: blur(2px);
    width: 800px;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.remove {
    font-size: 3rem;
    cursor: pointer;
}

.image img {
    width: 200px;
    border-radius: 10px;
    box-shadow: var(--box-shadow2);
    position: relative;
    left: -50px;
    object-fit: cover;
}

.image2 img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: var(--box-shadow2);
    position: relative;
    left: -80px;
    object-fit: cover;
}

.product-card .details {
    font-size: 2rem;
    position: relative;
    left: -100px;
}

.product-card .details2 {
    font-size: 2rem;
    position: relative;
    left: -158px;
}

.quantity {
    background: white;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    position: relative;
    bottom: -80px;
}

.quantity .minus {
    background: var(--green);
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -13px;
    cursor: pointer;
}

.quantity .number {
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity .add {
    background: var(--green);
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -13px;
    cursor: pointer;
}

.price p {
    font-size: 3rem;
}

.summary {
    background: rgba(101,56,147,.8);
    width: 800px;
    padding: 30px;
    margin-bottom: 70px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    backdrop-filter: blur(2px);
    font-size: 3rem;
    color: var(--lightpurple);
}

.left {
    font-size: 2rem;
    line-height: 30px;
}

.right {
    text-align: right;
}

.right .subtotal {
    color: var(--green);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background: var(--lightpurple);
    color: var(--darkpurple);
    font-size: 3rem;
    margin-bottom: 80px;
    width: 430px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: var(--box-shadow3);
    cursor: pointer;
}

.button:hover {
    background: var(--green);
    color: black;
}

/* this is the CSS for footer section */
.footer {
    background: var(--green);
    color: var(--darkpurple);
    position: relative;
    bottom: 0px;
}

.footer .upper {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.footer .upper .icons {
    width: 125px;
    scale: 60%;
    display: flex;
    justify-content: space-between;
}

.footer .upper .details {
    padding-top: 15px;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/* MEDIA QUERIES for responsive design */
@media (max-width:768px) {
    header .logo{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header .icons #menu-bar{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: white;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: white;
    }
}

/* FOR IPHONE 12 PRO */
@media (max-width: 420px) {
    header {
        padding: 1rem 2rem;
        width: 390px;
    }

    header .logo {
        scale: 70%;
        position: relative;
        left: -20px;
    }

    .nav {
        padding: 11px;
    }

    #parent {
        height: 720px;
        width: 390px;
    }

    .pattern img {
        display: flex;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1100px;
        width: 390px;
    }

    .heading {
        display: flex;
        justify-content: center;
    }

    .heading h1 {
        line-height: 70px;
    }

    #parent .box {
        scale: 80%;
        position: relative;
        top: 70px;
        left: 20px;
    }

    #parent .container {
        scale: 65%;
        position: relative;
        top: -60px;
        left: -113px;
    }

    .product-card {
        width: 500px;
    }

    .product-card .image {
        scale: 85%;
        position: relative;
        left: 50px;
    }

    .product-card .details h2 {
        scale: 90%;
        position: relative;
        left: 110px;
        margin-top: 5px;
    }

    .product-card .details .quantity {
        scale: 80%;
        position: relative;
        left: 110px;
        bottom: -51px;
    }

    .product-card .price {
        position: relative;
        bottom: -105px;
    }

    .product-card .image2 {
        scale: 85%;
        position: relative;
        left: 70px;
    }

    .product-card .details2 h2 {
        scale: 90%;
        position: relative;
        left: 158px;
        margin-top: 5px;
    }

    .product-card .details2 .quantity {
        scale: 80%;
        position: relative;
        left: 155px;
        bottom: -71px;
    }

    .summary {
        width: 500px;
    }

    .button-container {
        position: relative;
        left: 170px;
    }


    .footer {
        height: 140px;
        padding: 1rem;
        position: relative;
        bottom: 210px;
    }

    .footer .details {
        position: relative;
        left: -30px;
        top: 3px;
        font-size: 1.2rem;
    }
}