@import url(reset.css);
@import url('https://fonts.cdnfonts.com/css/creato-display');
@import url('https://fonts.cdnfonts.com/css/dream-orphans');
@import url('https://fonts.cdnfonts.com/css/oddval-text');
                

:root {
    --purple: #7E61BE;
    --darkpurple: #653893;
    --lightpurple: #EDEFFC;
    --green: #B9BF02;
    --black: #1E1E1E;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --content-font: 'Creato Display', sans-serif;
}

* {
    font-family: 'Creato Display', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    font-family: 'Creato Display', sans-serif;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    color: var(--darkpurple);
    font-family: 'Dream Orphans', sans-serif;
    font-weight: 700;
    font-size: 7rem;
    padding-top: 1rem;
}

/* this is the CSS for the navigation bar */
header {
    font-family: var(--content-font);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #f3f3f3;
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .navbar a{
    font-size: 1.7rem;
    font-weight: 400;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--purple);
}

header .navbar a.active,
header .navbar a:hover{
    color: black;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--purple);
    border-radius: 50%;
    background: #EDEFFC;
}

header .icons i:hover,
header .icons a:hover{
    color: black;
    background: var(--green);
    transform: rotate(-36deg);
}

header .icons #menu-bar{
    display: none;
}

/* This is the CSS for Our Menus section */
.dishes {
    background-image: linear-gradient(#EDEFFC, #7E61BE);
    height: 860px;
}

/*
.pattern img {
    display: flex;
    object-fit: cover;
    position: relative;
    top: 0;
    right: 0;
    height: 2500px;
    width: auto;
    background-image: linear-gradient(#EDEFFC, #7E61BE);
} */

.menu {
    margin: 0 auto;
    height: 250px;
}

.heading {
    font-family: 'Dream Orphans', sans-serif;
    font-size: 7rem;
    font-weight: 700;
    line-height: 100px;
    color: var(--darkpurple);
    padding: 12rem;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 4rem;
    padding-top: 50px;
    font-size: 1.5rem;
}

.category-container .full, .category-container .meat, .category-container .poultry,
.category-container .seafood, .category-container .vegetarian, .category-container .desserts,
.category-container .soups, .category-container .saver, .category-container .weight {
    width: 130px;
    display: flex;
    justify-content: center;
    background: var(--lightpurple);
    padding: 10px 5px 10px 5px;
    border-radius: 8px;
    cursor: pointer;
}

.category-container .full:hover, .category-container .meat:hover, .category-container .poultry:hover,
.category-container .seafood:hover, .category-container .vegetarian:hover, .category-container .desserts:hover,
.category-container .soups:hover, .category-container .saver:hover, .category-container .weight:hover {
    background: var(--green);
    scale: 110%;
} 

.category-container a.active {
    background: var(--green);
}

.sort .button{
    display: flex;
    justify-content: center;
    background: var(--purple);
    color: white;
    padding: 10px 5px 10px 5px;
    width: 100px;
    font-size: 1.5rem;
    border-radius: 8px;
}

/*this is the css for the dishes box*/
.menus .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding-top: 0px;
}

.menus .box-container .box {
    padding: 2.5rem;
    width: 35rem;
    height: 19rem;
    background: #EDEFFC;
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.menus .box-container .box:hover {
    background: var(--green);
    color: var(--lightpurple);
    scale: 105%;
}

.menus .box-container .box .image {
    position: relative;
    width: 12rem;
    height: 9rem;
    left: 42px;
}

.menus .box-container .box .image .gradient {
    width: 21.5rem;
    height: 9rem;
    scale: 150%;
    background-image: linear-gradient(to top, rgba(47, 47, 47, 0.7), rgba(255, 255, 255, 0.2));
    position: relative;
    object-fit: cover;
    top: -82px;
    border-radius: 8px;
    z-index: 1;
} 

.menus .box-container .box .image img {
    position: relative;
    top: 9px;
    width: 21.5rem;
    height: 9rem;
    scale: 150%;
    object-fit: cover;
    border-radius: 8px;
}

.menus .box-container .box .information h3 {
    color: white;
    font-size: 1.8rem;
    position: relative;
    display: flex;
    justify-content: center;
    bottom: -8px;
    z-index: 10;
    white-space: pre;
}

.menus .box-container .box .information span {
    position: relative;
    display: flex;
    justify-content: space-between;
    bottom: -22px;
    left: -10px;
    font-size: 2.5rem;
    color: black;
} 


.menus .box-container .box .information span .add {
    position: relative;
    bottom: -1px;
    right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--purple);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 3.5rem;
    color: white;
    border-radius: 50%;
    padding: 2px 2px 2px 2px;
    cursor: pointer;
}

.menus .box-container .box .information span:hover {
    color: white;
}

/* this is the CSS for footer section */
.footer {
    background: var(--green);
    color: var(--darkpurple);
}

.footer .upper {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.footer .upper .icons {
    width: 125px;
    scale: 60%;
    display: flex;
    justify-content: space-between;
}

.footer .upper .details {
    padding-top: 15px;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding-bottom: 10px;
}